category_encoders>=2.5
CensusData>=1.15
feature_engine==1.2.0
fastparquet
joblib>=1.2
numpy
pandas>=1.5,<2.1
plac>=1.3
pyarrow>=10,<15
pycm>=3.3
scikit-learn>=1.1,<1.4
surgeo>=1.1.2
tqdm>=4.64
xgboost>=1.7,<2.1